:root {
  font-family: system-ui, Lato, sans-serif;
  line-height: 1.5;
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 19%, 18%);
  accent-color: hsl(1, 83%, 63%);
}

body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}
