$black: #000000;
$white: #ffffff;
$error: #ff0000;

$light-grey: hsl(0, 0%, 86%);

$font-default: system-ui, Lato, sans-serif;
$font-color: hsl(200, 19%, 18%);
$main-background-color: hsl(0, 0%, 98%);
$accent-color: hsl(1, 83%, 63%);